<%- include('partials/header') %>
<link rel="stylesheet" href="/css/apply.css">
<style media="screen">
  @media (min-width: 0px) and (max-width: 768px){
    #footer{
      margin-top: 60%;
    }
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    #footer{
      position:absolute;width:100%;bottom:0;

    }
  }

  @media (min-width: 768px) and (max-width: 1024px){
    #footer{
      margin-top: 30%;
      position:absolute;width:100%;bottom:0;

    }
  }
  </style>
  <%data.forEach(function(data){%>

  <%if (id === data._id.toString().replace(/[^a-z0-9]/g, '')) {%>
  <!-- <div class="row"id="div-width-main"> -->
  <div class="main-div" style="position:relative;top:200px;">
    <h5 style="font-family:times-new-roman;">Application id :<%=id%> </h5>




    <div class="row" id="div-width-main">
      <div class="col-lg-6">
        <p>First name : <%=data.firstName %></p>
      </div>
      <div class="col-lg-6 " id="div-width">
        <p>Last name : <%=data.lastName %></p>
      </div>
      <div class="col-lg-6">
        <p>Father's name : <%=data.fathersName %></p>
      </div>
      <div class="col-lg-6 " id="div-width">
        <%  var date = data.dob;
      var year = date.toLocaleString("default", { year: "numeric" });
      var month = date.toLocaleString("default", { month: "2-digit" });
      var day = date.toLocaleString("default", { day: "2-digit" });
      var formattedDate = day + "-" + month + "-" + year;%>
        <p>D.O.B name : <%= formattedDate %></p>

      </div>
      <div class="col-lg-6">
        <p>E-mail : <%=data.email %></p>
      </div>
      <div class="col-lg-6 " id="div-width">
        <p>mobile no. : <%=data.mob %></p>
      </div>
      <h5>Current status : <%=data.status %></h5>
      <%if (data.status === "Disapproved") {%>
      <h6>Reason of rejection : <%=data.reason %></h6>
      <!-- <form class="" action="/status2/<%=data._id%>" method="post" enctype="multipart/form-data">

        <input type="file" name='upload_document' value="">
        <input type="submit" name="" value="Submit">
      </form> -->
      <form action="/change-image/<%=data._id%>" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit" class="btn-primary">Upload Document</button>
      </form>
      <%}%>
    <%if (data.status === "Approved") {%>
      <h6>Download the voter card from below button</h6>
      <div class="col-lg-6">
        <!-- <img src="view-pdf?id=<%=data._id%>" width="100%" height="200"> -->
        <a href="view-pdf1?id=<%=data._id%>" download> <button type="button" class="btn btn-primary">Download</button> </a>
          <!-- <iframe src="view-pdf1?id=<%=data._id%>" width="100%" height="800"></iframe> -->


      </div>
      <%}%>
    </div>
    </div>
    <%}%>

      <%});%>



      <%- include('partials/footer') %>
